@layer components {
  .btn {
    @apply py-1 px-2 rounded focus:outline-none text-base;
  }
  .btn.btn-primary {
    @apply bg-primary-500 text-white border border-primary-500 font-bold hover:bg-primary-700;
  }
  .btn.btn-secondary {
    @apply text-primary-500 font-bold border border-primary-500 hover:opacity-10;
  }
  
  .btn.btn-upload{
    @apply py-0 px-1 bg-primary-500 text-white hover:bg-primary-700 text-xs;
  }

  .btn.btn-tab {
    @apply py-1 px-1 text-xs text-gray-500 bg-white hover:bg-gray-200;;
  }
  .btn.btn-tab.active {
    @apply bg-primary-500 text-white font-bold hover:bg-primary-700;
  }

  .btn:disabled {
    @apply border border-gray-200 text-gray-300 bg-gray-200 cursor-not-allowed;
  }
  .btn.btn-upload.disabled {
    @apply text-gray-300 bg-gray-200 cursor-not-allowed;
  }
}
.scroll-content {
  flex: 1;
  overflow-y: auto;
}
ul.a {
  list-style-type: circle;
}

ol, ul {
  list-style: circle;
}
.MuiButtonBase-root:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
