@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'DB Ozone X', 'Noto Sans', 'Noto Sans TH', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* BASIC */
.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select
  {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  }

  [type='checkbox'],
      [type='radio']
     {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
     }

     
